@import "tailwindcss";

:root {
  --background: #37383d;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-background-level-0.5: #3a3b40;
  --color-background-level-1: #3d3e42;

  --color-primary: #597445;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sora);
}
